@use "../index";

.todo {
  display: flex;
  align-items: center;

  margin: 4px 0;
  @media (min-width: index.$md) {
    padding: 0 8px;
  }
}

.icons__group {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.todoName {
  flex-grow: 1;
  font-size: small;
  @media (min-width: index.$sm) {
    font-size: index.$text-base;
  }
  @media (min-width: index.$xl) {
    font-size: index.$text-base;
  }
}
